body{direction:inherit;text-align:right}dd{margin-right:0}figure{margin:0 0 1rem}caption{text-align:right}th{text-align:right}.list-unstyled{padding-right:0}.list-inline{padding-right:0}.list-inline-item:not(:last-child){margin-right:0;margin-left:5px}.blockquote{border-left:0;border-right:.25rem solid #eceeef}.blockquote-reverse{padding-left:1rem;padding-right:0;text-align:left;border-left:.25rem solid #eceeef;border-right:0}dl.row>dd+dt{clear:right}.pull-0{left:auto}.pull-1{left:8.33333%}.pull-2{left:16.66667%}.pull-3{left:25%}.pull-4{left:33.33333%}.pull-5{left:41.66667%}.pull-6{left:50%}.pull-7{left:58.33333%}.pull-8{left:66.66667%}.pull-9{left:75%}.pull-10{left:83.33333%}.pull-11{left:91.66667%}.pull-12{left:100%}.push-0{right:auto}.push-1{right:8.33333%}.push-2{right:16.66667%}.push-3{right:25%}.push-4{right:33.33333%}.push-5{right:41.66667%}.push-6{right:50%}.push-7{right:58.33333%}.push-8{right:66.66667%}.push-9{right:75%}.push-10{right:83.33333%}.push-11{right:91.66667%}.push-12{right:100%}.offset-1{margin-right:8.33333%}.offset-2{margin-right:16.66667%}.offset-3{margin-right:25%}.offset-4{margin-right:33.33333%}.offset-5{margin-right:41.66667%}.offset-6{margin-right:50%}.offset-7{margin-right:58.33333%}.offset-8{margin-right:66.66667%}.offset-9{margin-right:75%}.offset-10{margin-right:83.33333%}.offset-11{margin-right:91.66667%}@media(min-width:544px){.pull-sm-0{left:auto}.pull-sm-1{left:8.33333%}.pull-sm-2{left:16.66667%}.pull-sm-3{left:25%}.pull-sm-4{left:33.33333%}.pull-sm-5{left:41.66667%}.pull-sm-6{left:50%}.pull-sm-7{left:58.33333%}.pull-sm-8{left:66.66667%}.pull-sm-9{left:75%}.pull-sm-10{left:83.33333%}.pull-sm-11{left:91.66667%}.pull-sm-12{left:100%}.push-sm-0{right:auto}.push-sm-1{right:8.33333%}.push-sm-2{right:16.66667%}.push-sm-3{right:25%}.push-sm-4{right:33.33333%}.push-sm-5{right:41.66667%}.push-sm-6{right:50%}.push-sm-7{right:58.33333%}.push-sm-8{right:66.66667%}.push-sm-9{right:75%}.push-sm-10{right:83.33333%}.push-sm-11{right:91.66667%}.push-sm-12{right:100%}.offset-sm-0{margin-right:0}.offset-sm-1{margin-right:8.33333%}.offset-sm-2{margin-right:16.66667%}.offset-sm-3{margin-right:25%}.offset-sm-4{margin-right:33.33333%}.offset-sm-5{margin-right:41.66667%}.offset-sm-6{margin-right:50%}.offset-sm-7{margin-right:58.33333%}.offset-sm-8{margin-right:66.66667%}.offset-sm-9{margin-right:75%}.offset-sm-10{margin-right:83.33333%}.offset-sm-11{margin-right:91.66667%}}@media(min-width:768px){.pull-md-0{left:auto}.pull-md-1{left:8.33333%}.pull-md-2{left:16.66667%}.pull-md-3{left:25%}.pull-md-4{left:33.33333%}.pull-md-5{left:41.66667%}.pull-md-6{left:50%}.pull-md-7{left:58.33333%}.pull-md-8{left:66.66667%}.pull-md-9{left:75%}.pull-md-10{left:83.33333%}.pull-md-11{left:91.66667%}.pull-md-12{left:100%}.push-md-0{right:auto}.push-md-1{right:8.33333%}.push-md-2{right:16.66667%}.push-md-3{right:25%}.push-md-4{right:33.33333%}.push-md-5{right:41.66667%}.push-md-6{right:50%}.push-md-7{right:58.33333%}.push-md-8{right:66.66667%}.push-md-9{right:75%}.push-md-10{right:83.33333%}.push-md-11{right:91.66667%}.push-md-12{right:100%}.offset-md-0{margin-right:0}.offset-md-1{margin-right:8.33333%}.offset-md-2{margin-right:16.66667%}.offset-md-3{margin-right:25%}.offset-md-4{margin-right:33.33333%}.offset-md-5{margin-right:41.66667%}.offset-md-6{margin-right:50%}.offset-md-7{margin-right:58.33333%}.offset-md-8{margin-right:66.66667%}.offset-md-9{margin-right:75%}.offset-md-10{margin-right:83.33333%}.offset-md-11{margin-right:91.66667%}}@media(min-width:992px){.pull-lg-0{left:auto}.pull-lg-1{left:8.33333%}.pull-lg-2{left:16.66667%}.pull-lg-3{left:25%}.pull-lg-4{left:33.33333%}.pull-lg-5{left:41.66667%}.pull-lg-6{left:50%}.pull-lg-7{left:58.33333%}.pull-lg-8{left:66.66667%}.pull-lg-9{left:75%}.pull-lg-10{left:83.33333%}.pull-lg-11{left:91.66667%}.pull-lg-12{left:100%}.push-lg-0{right:auto}.push-lg-1{right:8.33333%}.push-lg-2{right:16.66667%}.push-lg-3{right:25%}.push-lg-4{right:33.33333%}.push-lg-5{right:41.66667%}.push-lg-6{right:50%}.push-lg-7{right:58.33333%}.push-lg-8{right:66.66667%}.push-lg-9{right:75%}.push-lg-10{right:83.33333%}.push-lg-11{right:91.66667%}.push-lg-12{right:100%}.offset-lg-0{margin-right:0}.offset-lg-1{margin-right:8.33333%}.offset-lg-2{margin-right:16.66667%}.offset-lg-3{margin-right:25%}.offset-lg-4{margin-right:33.33333%}.offset-lg-5{margin-right:41.66667%}.offset-lg-6{margin-right:50%}.offset-lg-7{margin-right:58.33333%}.offset-lg-8{margin-right:66.66667%}.offset-lg-9{margin-right:75%}.offset-lg-10{margin-right:83.33333%}.offset-lg-11{margin-right:91.66667%}}@media(min-width:1200px){.pull-xl-0{left:auto}.pull-xl-1{left:8.33333%}.pull-xl-2{left:16.66667%}.pull-xl-3{left:25%}.pull-xl-4{left:33.33333%}.pull-xl-5{left:41.66667%}.pull-xl-6{left:50%}.pull-xl-7{left:58.33333%}.pull-xl-8{left:66.66667%}.pull-xl-9{left:75%}.pull-xl-10{left:83.33333%}.pull-xl-11{left:91.66667%}.pull-xl-12{left:100%}.push-xl-0{right:auto}.push-xl-1{right:8.33333%}.push-xl-2{right:16.66667%}.push-xl-3{right:25%}.push-xl-4{right:33.33333%}.push-xl-5{right:41.66667%}.push-xl-6{right:50%}.push-xl-7{right:58.33333%}.push-xl-8{right:66.66667%}.push-xl-9{right:75%}.push-xl-10{right:83.33333%}.push-xl-11{right:91.66667%}.push-xl-12{right:100%}.offset-xl-0{margin-right:0}.offset-xl-1{margin-right:8.33333%}.offset-xl-2{margin-right:16.66667%}.offset-xl-3{margin-right:25%}.offset-xl-4{margin-right:33.33333%}.offset-xl-5{margin-right:41.66667%}.offset-xl-6{margin-right:50%}.offset-xl-7{margin-right:58.33333%}.offset-xl-8{margin-right:66.66667%}.offset-xl-9{margin-right:75%}.offset-xl-10{margin-right:83.33333%}.offset-xl-11{margin-right:91.66667%}}.form-check-label{padding-right:1.25rem}.form-check-input{margin-right:-1.25rem}.form-check-inline{padding-right:1.25rem}.form-check-inline+.form-check-inline{margin-right:.75rem}.form-control-feedback{margin-top:.25rem}.form-control-success,.form-control-warning,.form-control-danger{padding-left:2.25rem;background-position:center right .625rem}.form-inline .form-check-label{padding-right:0}.dropdown-toggle::after{margin-right:.3em}.dropdown-menu{right:0;float:right;margin:2px 0 0;text-align:right}.dropdown-divider{margin:.5rem 0}.btn-group .btn+.btn,.btn-group .btn+.btn-group,.btn-group .btn-group+.btn,.btn-group .btn-group+.btn-group{margin-right:-1px}.btn-toolbar{margin-right:-0.5rem}.btn-toolbar>.btn,.btn-toolbar>.btn-group,.btn-toolbar>.input-group{margin-right:.5rem}.btn-group>.btn:first-child{margin-right:0}.btn-group>.btn-group{float:right}.btn+.dropdown-toggle-split::after{margin-right:0}.btn-group-vertical>.btn+.btn,.btn-group-vertical>.btn+.btn-group,.btn-group-vertical>.btn-group+.btn,.btn-group-vertical>.btn-group+.btn-group{margin-right:0}.input-group .form-control{float:left}.input-group-btn>.btn+.btn{margin-right:-1px}.input-group-btn:not(:last-child)>.btn,.input-group-btn:not(:last-child)>.btn-group{margin-left:-1px}.input-group-btn:not(:first-child)>.btn,.input-group-btn:not(:first-child)>.btn-group{margin-right:-1px}.custom-control{padding-right:1.5rem}.custom-control+.custom-control{margin-right:1rem}.custom-control-indicator{right:0}.custom-controls-stacked .custom-control+.custom-control{margin-right:0}.custom-control-label:before{right:0}.custom-control-label:after{right:0}.custom-select{padding-left:.75rem \9}.nav{padding-right:0}.nav-tabs .nav-item+.nav-item{margin-right:.2rem}.nav-pills .nav-item+.nav-item{margin-right:.2rem}.nav-stacked .nav-item+.nav-item{margin-right:0}@media(max-width:543px){.navbar-toggleable .navbar-nav .nav-item{margin-right:0}}@media(max-width:767px){.navbar-toggleable-sm .navbar-nav .nav-item{margin-right:0}}@media(max-width:991px){.navbar-toggleable-md .navbar-nav .nav-item{margin-right:0}.navbar-collapse .navbar-nav{padding-right:1rem}}.card-link+.card-link{margin-right:1.25rem}.card-blockquote{border-right:0}.breadcrumb-item{float:right}.pagination{padding-right:0}.page-item:first-child .page-link{margin-right:0}.page-link{margin-right:-1px}.alert-dismissible{padding-left:2rem}.alert-dismissible .close{left:-1rem}.media-list{padding-right:0}.list-group{padding-right:0}.embed-responsive .embed-responsive-item,.embed-responsive iframe,.embed-responsive embed,.embed-responsive object,.embed-responsive video{right:0}.close{float:left}.tooltip{text-align:right}.tooltip.tooltip-top .tooltip-arrow,.tooltip.bs-tether-element-attached-bottom .tooltip-arrow{right:50%;margin-right:-5px}.tooltip.tooltip-bottom .tooltip-arrow,.tooltip.bs-tether-element-attached-top .tooltip-arrow{right:50%;margin-right:-5px}.popover{right:0;text-align:right}.popover.popover-top .popover-arrow,.popover.bs-tether-element-attached-bottom .popover-arrow{right:50%;margin-right:-11px}.popover.popover-top .popover-arrow::after,.popover.bs-tether-element-attached-bottom .popover-arrow::after{margin-right:-10px}.popover.popover-bottom .popover-arrow,.popover.bs-tether-element-attached-top .popover-arrow{right:50%;margin-right:-11px}.popover.popover-bottom .popover-arrow::after,.popover.bs-tether-element-attached-top .popover-arrow::after{margin-right:-10px}@media all and (transform-3d),(-webkit-transform-3d){.carousel-inner>.carousel-item.next,.carousel-inner>.carousel-item.active.right{right:0}.carousel-inner>.carousel-item.prev,.carousel-inner>.carousel-item.active.left{right:0}.carousel-inner>.carousel-item.next.left,.carousel-inner>.carousel-item.prev.right,.carousel-inner>.carousel-item.active{right:0}}.carousel-inner>.active{right:0}.carousel-inner>.next{right:100%}.carousel-inner>.prev{right:-100%}.carousel-inner>.next.left,.carousel-inner>.prev.right{right:0}.carousel-inner>.active.left{right:-100%}.carousel-inner>.active.right{right:100%}.carousel-control .icon-prev{right:50%;margin-right:-10px}.carousel-control .icon-next{left:50%;margin-left:-10px}.carousel-indicators{right:50%;padding-right:0;margin-right:-30%}.carousel-caption{left:15%;right:15%;z-index:10}@media(min-width:544px){.carousel-control .icon-prev{margin-right:-15px}.carousel-control .icon-next{margin-left:-15px}.carousel-caption{left:20%;right:20%}}


@font-face {
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/Cairo-Light.ttf');
}

@font-face {
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Cairo-Regular.ttf');
}

@font-face {
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Cairo-SemiBold.ttf');
}

body {
    font-family: 'Cairo', sans-serif !important;
}

h1, h2, h3, h4, h5 {
    font-family: 'Cairo', sans-serif !important;
}

a {
    font-family: 'Cairo', sans-serif !important;
}

p {
    font-family: 'Cairo', sans-serif !important;
}

@media (min-width: 1600px) {
    p {
        font-family: 'Cairo', sans-serif !important;
    }
}

header{
    direction: rtl;
}

.navbar-nav {
    margin-left: initial !important;
    margin-right: auto;
}

.form-control{
    direction: rtl;
}
.page-breadcrumb {
    direction: rtl;
}

.contact-us-title {
    margin-left: 3em;
    margin-right: 1em;
}

.map-col {
    padding-right: 0;
}

footer{
    direction: rtl;
}
div , p{
    direction: rtl;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto{
    direction: rtl;
}
.mr-auto, .mx-auto {
    margin-right: initial !important;
    margin-left: auto !important;
}

.search-btn {
    margin-left: initial;
    margin-right: 1em;
}

footer .divider {
    right: initial;
    left: 3em;
}

footer i {
    margin-right: initial;
}

header .header-menu li.has-dropdown:hover .dropdown {
    left: initial;
    right: 0;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: '\f104';
}

.page-breadcrumb h1:before {
    left: initial;
    right: 0;
}

.page-breadcrumb h1 {
    padding-left: initial;
    padding-right: 1em;
}

.home-success-story .image-container {
    float: right;
}

.home-success-story .details-container {
    float: left;
    background: url(../img/successful-story-background-ar.png) no-repeat -65px;
    padding: 10px 17px 10px 120px;
}

.home-success-story .details-container:before {
    left: initial;
    right: 0;
}

.card-set .read-more {
    right: initial;
    left: 15px;
}

.section-header:before {
    left: initial;
    right: -35px;
}

.navbar-brand {
    margin-right: 0;
    margin-left: 3rem;
}

.datetimepicker.dropdown-menu {
    right: initial;
    left: 0;
}

.side-card .img-container {
    float: right;
    margin-right: 0;
    margin-left: 10px;
}

figcaption i {
    margin-right: 0;
    margin-left: 10px;
}

#map-canvas h5 {
    margin-right: 15px !important;
}

.side-card .details-sidebar a {
    line-height: 1.4;
}

.pull-right {
    float: left;
}

.nav-item.active::before {
    right: 10px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    line-height: 1.6;
}

.top-data {
    text-align: left !important;
}

.footer-s1 .heading-footer {
    text-align: right;
}

.footer-s1 .heading-footer:after {
    right: 0;
    left: initial;
}

.social-icon-f li {
    float: right;
}

.news-card-views-col {
    text-align: right;
}

.eye-icon {
    margin-left: .5em;
}

.celender-icon {
    margin-right: initial;
}

.control-label {
    text-align: right;
}

.modal-header {
    direction: ltr;
}

.navbar-nav>li>a {
    letter-spacing: 0px;
}

.title-bar h1 {
    letter-spacing: -1px;
}